# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\biodata\ml\biodata_pointnet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
